@import 'variables';
#privacy-wrap {
    background: #fff;
    padding: 60px 0;
    p, ul, ol {
        font-family: $helv;
        width: 100%;
    }
    h5 {
        clear: both;
        display: block;
        width: 100%;
    }
}

#sitemap-main {
    padding: 60px 0;
    background: #fff;
    h1 {
        display: block;
        width: 100%;
        text-align: center;
    }
    ul {
        li {
            a {
                color: $blue;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            &:hover {
                color: $red;
            }
            }
        }
    }
}