/* Webfont: HelveticaNeueLTPro-HvCn */@font-face {
    font-family: 'HelveticaNeueLTPro67MdCn';
    src: url('HelveticaNeueLTPro-HvCn.eot'); /* IE9 Compat Modes */
    src: url('HelveticaNeueLTPro-HvCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HelveticaNeueLTPro-HvCn.woff') format('woff'), /* Modern Browsers */
         url('HelveticaNeueLTPro-HvCn.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HelveticaNeueLTPro-HvCn.svg#HelveticaNeueLTPro-HvCn') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

